<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnRenC.UnRenSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="UnRenC.UnRenCS" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <UnRenC.UnRenSettings>
            <setting name="Amount" serializeAs="String">
                <value>Many</value>
            </setting>
            <setting name="Sorting" serializeAs="String">
                <value>By_Date</value>
            </setting>
            <setting name="Unpacking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Decompile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Console" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Quick_menu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Skipping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Rollback" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Overwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Deobfuscation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Dump" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Delarchives" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedPath" serializeAs="String">
                <value />
            </setting>
        </UnRenC.UnRenSettings>
        <UnRenC.UnRenCS>
            <setting name="Many" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="By_Name" serializeAs="String">
                <value>False</value>
            </setting>
        </UnRenC.UnRenCS>
    </userSettings>
</configuration>